.headericons svg path {
  color: #707070;
}
.headericons svg {
  margin-left: 20px;
  display: inline-block;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color);
}
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
